<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UDID</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style type="text/css">
        .container {
            margin-top: 10%;
            text-align: center;
        }
        p {
            font-size: larger;
            font-weight: bolder;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>UDID：<span th:text="${UDID}"></span></p>
        <p>PRODUCT：<span th:text="${PRODUCT}"></span></p>
        <p>VERSION：<span th:text="${VERSION}"></span></p>
        <img width="200px" height="200px" src="https://fanshow.top/upload/2020/12/image-735c7e6df2a04ef19f72d5fc334b57f0.png">
    </div>

</body>
</html>
